// app global css in SCSS form

.authorized-header{
    width: 100%;
    max-width: 100%;
}

.q-tabs{
    border-top: 1px solid #ddd;
    width: 100% !important;
}

.q-card{
    box-shadow: none;
    background-color: #f9f9f9;
   // border: 1px solid #ddd;
}

.my-card{
    
}